@font-face {
    font-family: "Zilla Slab";
    src: url("ZillaSlab.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

@property --flash-color {
    syntax: '<color>';
    initial-value: #faf9f6;
    inherits: false;
}

:root {
    --base-color: #d4b902;
    --box-color: #faf9f6;
    --text-color: #2b1d0f;
    --danger-color: #ff4444;
}

html {
    font-family: "Zilla Slab", Sans-serif;
    font-size: 5vw;
}

body {
    height: 100vh;
    background-color: var(--base-color);
    margin: 0;
}
body.warn-start {
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    --flash-color: #2f2;
}
body.warn-0-mins {
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    --flash-color: #f22;
}
body.warn-5-mins {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    --flash-color: #f80;
}
body.warn-10-mins {
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    --flash-color: #ff0;
}
body.highlight {
    animation-name: flash-background;
}

input.danger, button.danger {
    background-color: var(--danger-color);
}

.page {
    display: grid;
    height: 92vh;
    grid-template-columns: 1fr 25vw;
    grid-template-rows: 30vh auto 3vh;
    grid-gap: 4vh;
    padding: 4vh;
}

.page > div {
    background-color: var(--box-color);
    color: var(--text-color);
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page > p {
    margin: -1vw 0 0 0;
    font-size: 2.5vw;
    grid-column: 1 / span 2;
    text-align: center;
}

.hide-cursor {
    cursor: none;
}
.hide-cursor #settings-button, .hide-cursor #controls, .show-settings #controls {
	display: none;
}

.hidden {
    display: none;
}

#remaining {
    font-size: 1.5rem;
}
.warn-0-mins #remaining {
    background-color: #f22;
}
.warn-5-mins #remaining {
    background-color: #f80;
}
.warn-10-mins #remaining {
    background-color: #ff0;
}

#time {
    font-kerning: none;
    font-size: 1.5rem;
}

#content {
    grid-column: 1 / span 2;
    flex-direction: column;
	text-align: center;
}

.period {
    font-style: italic;
    font-size: 0.8rem;
}

#settings-button {
    position: absolute;
    right: 2vh;
    bottom: 2vh;
    font-size: 1rem;
    cursor: pointer;
    border-width: 0;
    background-color: transparent;
}

#settings {
    display: none;
    position: absolute;
    color: #dddddd;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 6vh 10vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#settings p {
    margin-top: 0;
}
.show-settings #settings {
    display: block;
    font-size: 0.3em;
}
#settings input, #settings button {
    font-size: inherit;
}

.show-settings #time-offset {
    font-size: 0.4em;
}

#settings #settings-close {
    position: absolute;
    top: 1vh;
    right: 11vh;
}

#settings-close {
    cursor: pointer;
    font-size: 3em;
}

#schedule {
    overflow: auto;
    height: 64vh;
}

#schedule > div {
    margin: 0 1em 0.2em 0;
    padding: 3px;
    display: flex;
    gap: 0.3em;
}

#schedule > div.error {
    background-color: var(--danger-color);
}

#schedule > div input[name="name"] {
    flex-grow: 1;
}

#schedule button {
    padding-left: 0.4em;
    padding-right: 0.4em;
}

#settings-schedule-add-item, #settings-schedule-reset {
    border: 3px solid black;
    padding: 0.2em 2em;
    margin-top: 0.3em;
    margin-right: 1em;
}

#controls {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    font-size: 2vw;
    padding: 0.5vh;
    border: 1px solid #000;
    background-color: var(--base-color);
}

#monitor-name {
    margin: 0 1em 0 0.5em;
}

#fake-time {
    border: 1px solid var(--text-color);
    font-size: inherit;
}

@keyframes flash-background {
    0% {
        background-color: var(--base-color);
    }
    50% {
        background-color: var(--flash-color);
    }
    100% {
        background-color: var(--base-color);
    }
}